<div class="col-md-6 col-md-offset-3">
    <div class="panel">
        <div class="panel-heading">{{controller.message}} </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Director</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{controller.movie.title}}</td>
                        <td>{{controller.movie.director}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>