<div class="col-md-6 col-md-offset-3">
    <a class="btn btn-info" ui-sref="addMovie">Add a Movie</a>
    <div class="panel">
        <div class="panel-heading">Movies</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr ng-repeat="movie in controller.movies">
                        <td><a ui-sref="details({id: movie.id})">{{movie.title}}</a></td>
                        <td><a class="btn btn-danger" ng-click="controller.deleteMovie(movie.id)">Delete</a></td>
                        <td><a class="btn btn-danger" ui-sref="editMovie({id: movie.id})">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>